//Tipografía
$fuente_principal: 'Montserrat', sans-serif;

//Colores
$verde: #003049;
$rojo: #d72828;
$amarillo: #f77f00;
$negro: #111111;
$blanco: #FFFFFF;

//Tamaños de media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;